body{
    background-color:lightgrey;
}
p {font-size: 15px;
    color:rgb(71, 61, 61)
}
li{
    list-style: none;
    display: inline;
}

a{
 text-decoration: none;
 }
.nav_header{
   text-align: right;

}
#id_h3{
    font-size: 30px;
    color: brown;
}
.img_galeria{
    border-radius: 30px;
}